body {
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;
  position: relative;
}
* {
  box-sizing: border-box;
}

.hover:hover {
  transform: scale(1.1);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.header__icons {
  display: flex;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.icon {
  position: relative;
  margin-left: 2rem;
}
.icon-notification {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background: #FFA542;;
	box-sizing: border-box;
	border-radius: 16px;
	color: #ffffff;
	font-weight: normal;
	font-size: 12px;
	top: -8px;
	right: -10px;
}

/* Products */
.products-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.padding-bottom {
  /* TODO: fix bug with footer */
  padding-bottom: 150px; 
}

/* Card */
.card {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 30%;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__img {
  display: block;
  margin: auto;
  margin-top: 20px;
}
.card__info {
  width: 80%;
  height: 35px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
}
.card__info:last-child {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.card__info h4 {
  color: #1C1C27;
  display: contents;
}
.card__info-price {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.price {
  color: #FFA542;
}
.old-price {
  color: #FFCE7F;
  font-size: 13px;
  line-height: 16px;
  text-decoration: line-through;
}
.card__info-rate {
  display: flex;
  align-items: center;
}
.card__info-rate span {
  color: #838383;
  margin-left: 10px;
}
.card__btn {
  padding: 0;
  border: none;
  background: none;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
/* TODO: media queries for Card  */

/* Footer */
.footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0px 0px;
  padding: 4% 2% 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__nav-links {
  display: flex;
  flex-direction: column;
}
.footer a {
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* TODO:  justify-content: space-between to work*/
}
.footer__links #lang {
  display: flex;
  align-items: center;
}
.footer__links #lang span {
  margin-left: 17px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
}
#lang-active {
  color: #FFA542;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social a {
  margin-left: 17.9px;
}